* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Oswald', sans-serif;
  }

header {
    background: black;
    height: 40px;
    width: 100%;
    position: sticky;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: clamp(15px, 3vw, 20px);
    text-align: right;
    margin-right: 3%;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight:hover {
    color:rgb(103, 196, 243);
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 6px solid rgb(103, 196, 243);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

.icon img {
    width: 60px;
    height: 60px;
    animation: rotationleft 13s infinite linear;
}

@keyframes rotationleft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.list {
    width: 50%;
}

.stick {
    position: sticky;
    top: 0px;
    z-index: 9;
}

.menu {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    justify-content: flex-end;
    font-size: clamp(18px, 3vw, 25px);
}

nav ul li a:hover {
    color: rgb(103, 196, 243);
}

.albums-box {
    width: 100%;
    height: 70px;
    margin-bottom: 25px;
}

.albums {
    text-align: center;
    font-size: 50px;
    color: rgb(103, 196, 243);
    text-shadow: 3px 3px white;
}

.shorelinedothat {
    width: 50%;
    height: 50vw;
    background-image: url(../music-images/shorelinedothatshit.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.geezyworld {
    width: 50%;
    height: 50vw;
    background-image: url(../music-images/geezyworld.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.otxmas {
    width: 33.33%;
    height: 33vw;
    background-color: aqua;
    background-image: url(../music-images/otxmas.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.partypack {
    width: 33.33%;
    height: 33vw;
    background-color: aqua;
    background-image: url(../music-images/party-pack.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.mafiabidness {
    width: 33.33%;
    height: 33vw;
    background-color: aqua;
    background-image: url(../music-images/mafia-bidness.webp);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.singles-box {
    width: 100%;
    height: 70px;
    margin-bottom: 70px;
    float: left;
}

.singles {
    text-align: center;
    font-size: 50px;
    color: rgb(103, 196, 243);
    text-shadow: 3px 3px white;
}

.offamacbook {
    width: 25%;
    height: 25vw;
    background-image: url(../music-images/macbook.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    float: left;
}

.heavy {
    width: 25%;
    height: 25vw;
    background-image: url(../music-images/heavy.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.witmyrounds {
    width: 25%;
    height: 25vw;
    background-image: url(../music-images/rounds.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    float: left;
}

.knock {
    width: 25%;
    height: 25vw;
    background-image: url(../music-images/knock.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    background-position: center;
    margin-bottom: 40px;
}

@media screen and (max-width: 820px) {
    .resize {
        width: 50%;
        height: 50vw;
    }
    
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: width .75s, height .75s;
    transition-timing-function: ease-out;
}

.center:hover {
    width: 130px;
    height: 130px;
}

footer {
    height: 60px;
    background-color: white;
    border-top: 6px solid rgb(103, 196, 243);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    
    font-size: clamp(20px, 3vw, 30px);
    text-align: center;
    width: 95%;
}

.bottomblack {
    height: 20px;
    width: 100%;
    background-color: black;
}