* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Times New Roman', Times, serif;
  }

header {
    background: black;
    height: 40px;
    width: 100%;
    position: sticky;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: clamp(15px, 3vw, 20px);
    text-align: right;
    margin-right: 3%;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight:hover {
    color:rgb(103, 196, 243);
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 6px solid rgb(103, 196, 243);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

.icon img {
    width: 60px;
    height: 60px;
    animation: rotationleft 13s infinite linear;
}
.list {
    width: 50%;
}

.stick {
    position: sticky;
    top: 0px;
    z-index: 9;
}

.menu {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    justify-content: flex-end;
    font-size: clamp(18px, 3vw, 25px)
}

.hero {
    background-color: blue;
    background-image: url("../Fashion-Images/hero.jpg");
    width: 100%;
    height: 80vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    text-align: center;
    font-size: 3vw;
    padding-top: 2vw;
    font-size: clamp(25px, 5vw, 80px);
    margin: 0;
}

.gallery {
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px 10px;
    max-width: 1400px;
    margin: 0 auto;
    gap: 35px; 
    object-fit: cover;
}

.gallery::after {
    content: "";
    width: 330px;
}

.gallery img {
    width: 360px;
    height: 360px;
    border: 1px solid black;
    border-radius: 10px;
    object-fit: cover;
    transition: width 1s, height 1s;
    transition-timing-function: ease-out;
}

@keyframes rotationleft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.gallery img:hover {
    width: 380px;
    height: 380px;
    border: 4px solid rgb(103, 196, 243);
    border-radius: 10px;
}

h2 {
    text-align: center;
    background-color: white;
    border: 4px solid rgb(103, 196, 243);
    border-radius: 10px;
    font-weight: bold;
}

.gallery div ul {
    text-align: left;
    background-color: white;
    border: 4px solid rgb(103, 196, 243);
    border-radius: 10px;
    font-size: 19px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 7px;
    width: 360px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: width .75s, height .75s;
    transition-timing-function: ease-out;
}

.center:hover {
    width: 130px;
    height: 130px;
}

footer {
    height: 60px;
    background-color: white;
    border-top: 6px solid rgb(103, 196, 243);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    
    font-size: clamp(20px, 3vw, 30px);
    text-align: center;
    width: 95%;
}

.bottomblack {
    height: 20px;
    width: 100%;
    background-color: black;
}