* {
    box-sizing: border-box;
}

body {
    background: black;
    font-family: 'Oswald', sans-serif;
  }

header {
    background: black;
    height: 40px;
    width: 100%;
    position: sticky;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: clamp(15px, 3vw, 20px);
    text-align: right;
    margin-right: 3%;
    padding-top: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight:hover {
    color:rgb(103, 196, 243);
}

nav {
    width: 100%;
    height: 80px;
    background-color: white;
    border-bottom: 6px solid rgb(103, 196, 243);
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.icon {
    width: 15%;
    display: flex;
    justify-content: flex-start;
}

.icon img {
    width: 60px;
    height: 60px;
    animation: rotationleft 13s infinite linear;
}

@keyframes rotationleft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.list {
    width: 50%;
}

.stick {
    position: sticky;
    top: 0px;
    z-index: 9;
}

.menu {
    display: flex;
    gap: 3vw;
    list-style-type: none;
    justify-content: flex-end;
    font-size: clamp(18px, 3vw, 25px)
}

nav ul li a:hover {
    color: rgb(103, 196, 243);
}

.hero {
    width: 100%;
    height: 35vw;
    background-image: url(../Fashion-Images/tour.jpg);
    background-size: cover;
    background-position: center;
    object-fit: cover;
    margin-bottom: 10px;
}

.tour-dates-box {
    width: 100%;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tour-dates {
    font-size: clamp(30px, 5vw, 80px);
    color: rgb(103, 196, 243);
    text-shadow: 3px 3px white;
}

.dates {
    float: left;
    width: 25%;
}

.dates ul {
    color: rgb(103, 196, 243);
    font-size: clamp(13px, 3vw, 50px);
    text-align: right;
    padding-left: 2vw;
}

.dates ul li {
    list-style: none;
}

.venues {
    float: left;
    width: 75%;
}

.venues ul {
    color: white;
    font-size: clamp(13px, 3vw, 50px);
    text-align: left;
    padding-left: 3vw;
}

.venues ul li {
    list-style: none;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    margin-bottom: 30px;
    transition: width .75s, height .75s;
    transition-timing-function: ease-out;
}

.center:hover {
    width: 130px;
    height: 130px;
}

footer {
    height: 60px;
    background-color: white;
    border-top: 6px solid rgb(103, 196, 243);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h3 {
    
    font-size: clamp(20px, 3vw, 30px);
    text-align: center;
    width: 95%;
}

.bottomblack {
    height: 20px;
    width: 100%;
    background-color: black;
}